button
    width: 120%
    height: 40px
    background-color: #2196f3
    color: #fff
    border: none
    border-radius: 5px
    font-size: 16px
    cursor: pointer

#btn-voltar
    background-color: green

#btn-recuperar
    background-color: #2196f3

#cadastrar-redirecionar
    background-color: #2a0ea5

.btn-sistema
    width: 70%

.btn-g
    background-color: green

.btn-p
    background-color: brown

.btn-editar, .btn-deletar
    width: 70%

.btn-produtos
    margin-top: 15px

.btn-encerrar
    margin-top: 30px
    background-color: red

.btn-voltarSelecao2
    text-align: center

.btn-voltarSelecao2
    margin-top: 10px